:root {
    --backgrond-main-color: #090909;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: var(--backgrond-main-color);
    transition: background 0.4s ease-in;
}

::-webkit-scrollbar-button {
    width: 0;
}


::-webkit-scrollbar {
    width: 0;
}

input[type=radio] {
    display: none;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: gamer 8s linear infinite;
    z-index: 2;
}

#progressBar{
    position: fixed;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: #5d5664;
    z-index: 2;
}


#scrollPath::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#scrollPath::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}



@keyframes gamer {
    0%,100% {
        filter: hue-rotate(0deg);
    } 50% {
        filter: hue-rotate(360deg);
    }
}

/* Header */
.video_fadeout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.video_fadeout video{
    position: absolute;
    filter: brightness(30%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
}


.text_center_video {
    position: absolute;

    overflow: hidden;
    z-index: 1;
}

h3 {
    color: #fff;
}

.text_center_video span {
    color: #10f01f;
}

.text_center_video  h2 {
    font-style: oblique;
    user-select: none;
    color: #fff;
    font-size: 3em;
    z-index: 1;
}

.rodas div{
    position: relative;
    width: 270px; 
    height: 270px; 
    margin: auto;
    rotate: 10deg;
    background-color: transparent;
}


.rodas div::before {
    content: "";
    position: absolute;
    inset: -60px;
    border: 4px solid #000000;
    box-shadow: inset 0 0 30px  #00000055;
    animation: anime01 7s linear infinite;
    pointer-events: none;
    z-index: 1;
}


@keyframes anime01 {
    0% {
        border-radius: 70%;
        transform: scaleY(0.8) scaleX(1) ;
        filter: hue-rotate(0deg);
        rotate: 0deg;
    }50% {    
        border-radius: 100%;
        filter: hue-rotate(360deg);
        transform: scaleY(1) scaleX(0.8) ;
        rotate: 180deg;
    }
    100% {
        border-radius: 70%;
        filter: hue-rotate(0deg);
        transform: scaleY(0.8) scaleX(1);
        rotate: 360deg;
    }
}

@keyframes anime02 {
    0% {
        border-radius: 0%;
        filter: hue-rotate(0deg);
        rotate: 0deg;
    }50% {    
        border-radius: 0%;
        filter: hue-rotate(0deg);
        rotate: 180deg;
    }
    100% {
        border-radius: 0%;
        filter: hue-rotate(0deg);
        rotate: 360deg;
    }
}

.rodas div::after {
    content: "";
    position: absolute;
    inset: -50px;
    border: 4px solid #00ff1e;
    box-shadow: inset 0 0 30px  #00000055;
    animation: anime02 4s linear infinite;
    pointer-events: none;
    border-radius: 0;
    transform: scale(0.8);
    z-index: 1;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.section_one {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 60% 40%;
}

.articles {
    width: 100%;
    height: 100%;
}

.article_one {
    display: flex;
    align-items: center;
    justify-content: center;
}


.infos {
    display: none;
    justify-content: center;
    margin-left: 3vh;
}

.infos h2 {
    margin: 0 0 10px -10px;
    font-size: 2em;
}

.infos p {
    color: #fff;
}

.infos img {
    width: 100px;
    height: 100px;
}

.info1 {
    display: inline;
    justify-content: center;
    margin-left: 3vh;
}

.article_two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs__frames {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    transform-style: preserve-3d;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imgs {
    position: absolute;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    z-index: 1;
    cursor: pointer;
}

.imgs img {
    filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.756));;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


#item1:checked ~ .imgs__frames #imgSlider3,
#item2:checked ~ .imgs__frames #imgSlider1,
#item3:checked ~ .imgs__frames #imgSlider2 {
    transform: translateX(-40%) scale(0.7);
    opacity: 0.4;
    z-index: 0;
}



#item1:checked ~ .imgs__frames #imgSlider2,
#item2:checked ~ .imgs__frames #imgSlider3,
#item3:checked ~ .imgs__frames #imgSlider1 {
    transform: translateX(40%) scale(0.7);
    opacity: 0.4;
    z-index: 0;
}
#item1:checked ~ .imgs__frames #imgSlider1,
#item2:checked ~ .imgs__frames #imgSlider2,
#item3:checked ~ .imgs__frames #imgSlider3 {
    transform: translateX(0%) scale(1);
    opacity: 1;
    z-index: 1;
}

.section_tree {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
    transition: all 1s;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
    backdrop-filter: blur(7px);
  }

.section_tree h1 {
    font-size: 2em;
    margin: 0 0 50px 0;
    color: #ffffff;
    z-index: 1;
}

.section_tree h1 span {
    color: #00ff1e;
}

.sliders {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	width: 60%;
	height:650px;
    transition: all 400ms;
}


.slide {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .7s;
    margin-left: 0.3vh;
    z-index: 1;
    overflow: hidden;
}


.slide:hover {
    filter: none;
    z-index: 10;
	scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.imgs_slide{ 
    background: var(--img) center;
    width: 100%;
    height: 100%;
	background-size: cover;
	overflow: hidden;
	transition: all 400ms;
}

.sliders:has(.box-1:hover){
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.sliders:has(.box-2:hover){
	grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
}
.sliders:has(.box-3:hover){
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
}
.sliders:has(.box-4:hover){
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
}
.sliders:has(.box-5:hover){
	grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
}
.sliders:has(.box-6:hover){
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
}

.sliders:hover > :not(:hover) {
    filter: grayscale(100%);
}

.slide:nth-child(even){
	transform: translateY(-20px);
	z-index: 10;
}

.slide:nth-child(odd){
	transform: translateY(20px);
}

.imgs_slide::after{
	content: attr(data-text);
	position: absolute;
	bottom: 10%;
	left:40%;
	background-color: #000;
	color: aliceblue;
	padding: 8px 25px;
	transition: transform 0.5s;
	transform: translateY(100px);
    overflow: hidden;
}

.imgs_slide:hover:after{
	transform: translateY(0px) translateX(-20px);
}

.imgs_slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    overflow: hidden;
    object-fit: cover;
}